@{
    Layout = null;
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    @Styles.Render("~/Content/css")
    <title>Şifre Değişikliği</title>
</head>

<body>
    <div class="d-flex justify-content-center align-items-center login-container">
        @using (Html.BeginForm("Password", "Reset", FormMethod.Post))
        {
            @Html.ValidationSummary(true)
            <h1 class="mb-5 font-weight-light text-uppercase">Şifre Değişikliği</h1>
            <div class="form-group">
                @Html.TextBox("password",null, new { @class = "form-control form-control-lg", @placeholder = "Yeni Şifreyi Giriniz", @type = "password" })
            </div>
            @Html.Hidden("token",ViewData["token"])
            <div class="form-group">
                <button type="submit" class="btn btn-lg btn-success btn-block text-uppercase">Şifreyi Değiştir</button>
            </div>
            if (TempData["message"] != null)
            {
                <div class="form-group">
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <strong>Dikkat!</strong> @TempData["message"]
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            }
        }

    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
</body>

</html>