@model stoktakipyazilimbakimi.Models.Urunler

@{
    ViewBag.Title = "Ürün Ekle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb mt-3">
        <li class="breadcrumb-item"><a href="/" class="text-dark">Anasayfa</a></li>
        <li class="breadcrumb-item active" aria-current="page">Ürün Ekle</li>
    </ol>
</nav>

<p class="display-4">
    Ürün Ekle  @Html.ActionLink("Geri Dön", "Index", null, new { @class = "btn btn-secondary btn-sm" })
</p>

@using (Html.BeginForm("Add", "Product", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal border p-2">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.UrunAdi, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UrunAdi, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UrunAdi)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.UrunFiyat, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UrunFiyat, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UrunFiyat)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.UrunBirimi, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.UrunBirimi, new SelectList(new string[] { "Adet", "Kilo", "Uzunluk", "Litre" }), htmlAttributes: new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-success">Ürünü Ekle</button>
            </div>
        </div>
    </div>
}
@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script>
    $.validator.methods.number = function (value, element) {
        return this.optional(element) || /^-?(?:\d+|\d{1,3}(?:[\s\.,]\d{3})+)(?:[\.,]\d+)?$/.test(value);
    }
    </script>
}