@model PagedList.IPagedList<stoktakipyazilimbakimi.Models.Urunler>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Ürünler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb mt-3">
        <li class="breadcrumb-item"><a href="/" class="text-dark">Anasayfa</a></li>
        <li class="breadcrumb-item active" aria-current="page">Ürünler</li>
    </ol>
</nav>

@if (TempData["message"] != null)
{
    <div class="form-group">
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Tebrikler!</strong> @TempData["message"]
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
}

<p class="display-4">
    Ürünler <a href="@Url.Action("Add","Product")" class="btn btn-success badge">+</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th scope="col"> @Html.DisplayNameFor(x => x.FirstOrDefault().UrunID)</th>
            <th scope="col">@Html.DisplayNameFor(x => x.FirstOrDefault().UrunAdi)</th>
            <th scope="col">@Html.DisplayNameFor(x => x.FirstOrDefault().UrunFiyat)</th>
            <th scope="col">İşlem</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.UrunID)</td>
                <td>@Html.DisplayFor(modelItem => item.UrunAdi)</td>
                <td>@Html.DisplayFor(modelItem => item.UrunFiyat)</td>
                <td>@Html.ActionLink("Edit", "Edit", "Product", new { id = item.UrunID }, new { @class = "btn btn-warning" }) @Html.ActionLink("Delete", "Delete", "Product", new { id = item.UrunID }, new { @class = "btn btn-danger", @id = "delete", onclick = "return confirm('Silmek istediğinize emin misiniz?');" })</td>
            </tr>
        }
    </tbody>
</table>

@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))

@section scripts{
<script>
    $(document).ready(function () {
       
    });
</script>
}