<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="32x32" href="/Assets/images/favicon.png">
    <title>@ViewBag.Title - Stok Takip Uygulaması</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">Stok Takip Uygulaması</a>
            @if (Session["UserID"] != null)
            {
                <span><b>@Session["UserName"]</b> @Html.ActionLink("Çıkış Yap", "Logout", "Login", null, new { @class = "p-2 badge badge-danger" })</span>
            }
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    @if (Session["UserID"] != null)
                    {
                        <li class="nav-item active">
                            @Html.ActionLink("Ürünler", "Index", "Product", null, new { @class = "nav-link" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Satış Yap", "buy", "Commerce", null, new { @class = "nav-link" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Kullanıcılar", "Index", "User", null, new { @class = "nav-link" })
                        </li>
                    }
                    @if (Session["UserID"] == null)
                    {
                        <li class="nav-item">
                            @Html.ActionLink("Sisteme Giriş", "Index", "Login", null, new { @class = "nav-link" })
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
