<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="32x32" href="/Assets/images/favicon.png">
    <title>@ViewBag.Title - Stok Takip Uygulaması</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container">
            <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                            @if (Session["UserID"] != null)
                            {
                                <b>@Session["UserName"]</b> @Html.ActionLink("Çıkış Yap", "Logout", "Login", null, new { @class = "p-2 badge badge-danger" })
                            }
                    </li>
                </ul>
            </div>
            <a class="navbar-brand" href="/">Stok Takip Uygulaması</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse w-100  @(Session["UserID"]==null ? "order-3":null)" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    @if (Session["UserID"] != null)
                    {
                        <li class="nav-item @(this.ViewContext.RouteData.Values["controller"].ToString().Contains("Product") ? "active" : null)">
                            @Html.ActionLink("Ürünler", "Index", "Product", null, new { @class = "nav-link" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Personeller", "Index", "Employe", null, new { @class = "nav-link" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Stok Yönetimi", "Index", "Stock", null, new { @class = "nav-link" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Satış Yap", "buy", "Commerce", null, new { @class = "nav-link" })
                        </li>
                    }
                    @if (Session["UserID"] == null)
                    {
                        <li class="nav-item">
                            @Html.ActionLink("Giriş Yap", "Index", "Login", null, new { @class = "btn btn-warning" })
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
